extends front

mixin meta(title, description)
	title Updatified —a #{title}
	meta(name='description', content=description)
	meta(property='og:image', content='http://updatified.com/images/thumbnail.png')
	meta(property='twitter:title', content='Updatified — ' + title)
	meta(property='twitter:description', content=description)
	meta(property='twitter:image', content='http://updatified.com/images/thumbnail.png')

block meta
	mixin meta()

block form
	h5 Sign up in one click:

	form.signup(action="/", method="post")
		input(type="email", name="email", placeholder="email@address.com", value=email,
			autocomplete="off", class=(error == "email" || error == "alreadySignedUp" ? "error" : ""))
		- if (error == "email")
			p.error Please enter a valid email address
		- else if (error == "alreadySignedUp")
			p.error This email address is already signed up

		input(type="password", name="password", placeholder="password", class=(error == "password" || error == "invalidCredentials" ? "error" : ""))
		- if (error == "password")
			p.error Please enter a password
		- else if (error == "invalidCredentials")
			p.error Invalid email address or password

		input(type="password", name="passwordRepetition", placeholder="password (again)", class=(error == "passwordRepetition" ? "error" : ""))
		- if (error == "passwordRepetition")
			p.error Try again... your passwords did not match

		div(class=(error == "noLove" ? "error" : ""))
			input#promise(type="checkbox", name="love", checked=Boolean(love))
			| <label for="promise"> I will love and use Updatified every day</label>
		- if (error == "noLove")
			p.error No love for Updatified? :-(

		input.action-button(type="submit", name="signup", value="Sign up")
		p.login or <a href="login">Log in</a>